* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}


/* ----------------Header Styles-------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0.75rem 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
}

#logo {
    font-weight: 700;
    font-size: 1.05rem;
}
#logo a {
    text-decoration: none;
    color: #333;
}

#menu-toggle {
    display: none;
}

#hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

#nav-links {
    text-align: center;
    display: none;
    position: absolute;
    right: 16px;
    top: 60px;
    background: #616060;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    width: 150px;
}

#nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #fff;
}

#nav-links a:hover {
    background: #fff;
    color: #333;
    border: 1px solid #333;
}

#menu-toggle:checked+#hamburger+#nav-links {
    display: block;
}


/* --------------- MAin Styles -----------------*/

/*Hero style*/
h1,
h2 {
    margin-bottom: 1rem;
}

#hero-page {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('img/hero-section.png') no-repeat center center/cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

#hero-section {
    padding: 0 1rem;
    max-width: 800px;
}

#hero-section h1 {
    font-size: 3rem;
    animation: h1-animate 1s ease-out;
}

@keyframes h1-animate {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

#hero-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    animation: p-animate 4s ease-out;
}

@keyframes p-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#hero-section a {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #898586;
    border: 1px solid #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
    animation: a-animate 1s ease-out;
}

@keyframes a-animate {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

#hero-section a:hover {
    background-color: #fff;
    color: #333;
}

/*Product style*/

#product-page {
    padding: 4rem 1rem;
    max-width: 900px;
    margin: 0 auto;

}

#product-page .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-bottom: 2rem;
}


#product-page h2 {
    font-size: 2.3rem;
    text-align: center;
    border-bottom: #333 2px solid;
}

#product-page h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#product-card:hover {
    transform: scale(1.02);
}

#product-card #product-description {
    padding: 1rem;
}

#product-description h4 {
    font-size: 1.2rem;
    border-bottom: 1px solid #989595;
}

#product-description p {
    margin: 0.5rem 0;
    color: #666;
}

#product-description a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
}

#product-description a:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}
#product-description span {
    margin-left: 0.5rem;
}
img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/*Order style*/

#order-page {
    padding: 4rem 1rem;
    max-width: 600px;
    margin: 0 auto;
}

#order-page h2 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: #333 2px solid;
}

#order-page form {
    background-color: #fff;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#order-page label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#order-page input,
select {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#order-page button {
    padding: 0.75rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#order-page button:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

/*About style*/
#about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

#about-page h2 {
    text-align: center;
    border-bottom: #333 2px solid;
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

#about-page #about-company {
    display: flex;
    flex-wrap: wrap;
}

#about-company .wrap {
    flex: 1 1 300px;
    margin: 1rem;
}

#mission,#vision {
    padding: 2rem 3rem;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
#mission:hover ,#vision:hover{
    transform: scale(1.1);
}

/*---------------------Footer style--------------------------*/

footer {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #333;
    color: #fff;
    grid-template-areas:
        "contact"
        "quick-links"
        "reference";
}

#contact {
    grid-area: contact;
}

#quick-links {
    grid-area: quick-links;
}

#reference {
    grid-area: reference;
}


footer h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff;
}

footer ul {
    list-style: none;
    margin: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer span {
    margin-right: 1rem;
}

#contact {
    padding: 2rem 0;
}

#quick-links {
    background-color: #222;
    padding: 2rem 0;
}

#quick-links a {
    color: #fff;
    text-decoration: none;
}

#quick-links a:hover {
    color: #eb9b3a;
    text-decoration: underline;
}

#reference {
    background-color: #2b2a2a;
    padding: 2rem 0;
}






/* ------------------Tablet Size---------------------------- */
@media (min-width: 768px) {
    #hamburger {
        display: none;
    }

    #nav-links {
        display: flex;
        position: static;
        border: none;
        background: none;
        width: auto;
        padding: 0;
        align-items: center;
    }


    #nav-links ul {
        display: flex;
        gap: 20px;
    }

    #nav-links a {
        color: #333;
        padding: 0.2rem;
        transition: color 0.3s ease;
    }

    #nav-links a:hover {
        border: none;
        border-bottom: 2px solid #eb9b3a;
        color: #eb9b3a;
    }






    /*Product-Page*/
    #product-page .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }


    /*Footer*/
    footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "contact quick-links"
            "reference reference";
    }

}


/* -------------Desktop Size-------------------- */
@media (min-width: 1024px) {
    #product-page .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}